body {
  padding-top: 40px;
}

#app-container {
  background-color: #000000;
}

#header-container {
  border: transparent;
}

#brand-color {
  font-size: 22px;
  background: linear-gradient(to right, red 0%, orange 20%, yellow 30%, green 55%, blue 75%, purple 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#footer {
  font-size: 18px;
  background: linear-gradient(to right, red 0%, orange 20%, yellow 30%, green 55%, blue 75%, purple 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#title-descriptor {
  background: linear-gradient(to right, red 0%, orange 20%, yellow 30%, green 55%, blue 70%, purple 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#intro-img {
  width: 28rem;
}

#nav-text {
  font-size: 18px;
  font-weight: bold;
  color: white;

}

#nav-text:hover {
  background: linear-gradient(to right, #55CDFC 0%, #F7A8B8 40%, white 55%, #F7A8B8 75%, #55CDFC 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#intro-par {
  font-size: 16px;
}

#intro-welcome {
  padding-top: 5%;
}

#intro-row-2 {
  padding-top: 5rem;
}

#tech-stack {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  /* padding: 10px 150px; */
}

